global
    maxconn 1000

defaults
    timeout connect 10s
    timeout client 1m
    timeout server 1m

listen postgres_read
    bind *:5433
    mode tcp
    balance roundrobin
    # Ruch rozkładany na Warszawa2 i Warszawa3
    server warszawa2_read1 172.20.0.3:5432 check
    server warszawa3_read2 172.20.0.4:5432 check

listen stats
    bind *:8404
    mode http
    stats enable
    stats hide-version
    stats refresh 5s
    stats show-node
    stats realm Haproxy\ Statistics
    stats uri /haproxy?stats
    stats auth admin:admin123
