global
    maxconn 1000

defaults
    timeout connect 10s
    timeout client 1m
    timeout server 1m

listen postgres_write
    bind *:5432
    mode tcp
    # Ruch trafia prosto do Warszawy1 (Master)
    server warszawa1_master 172.20.0.2:5432 check
    